<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Tools for Data Science
* Languages used for Data Science
* Libraries used in Data Science
* Arithmetic operations

Some of the popular languages that Data Scientists use are:
1.  SQL
2.  PYTHON
3.  R LANGUAGE
4.  JAVA

Some of the commonly used libraries used by Data Scientists include

1. Pandas
2. Numpy
3. MatplotLib
4. Seaborn
5. Scikitlearn

| Data Science Tools |
|--------------------|
| Juypter Notebook |
| Apache Spark|
|Spyder|
|Watson Studio|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## AUTHOR

DHINESH KUMAR K S